<div class="empty-state">
  <p class="empty-state__text">
    You haven't generated any Secret Santa Events yet!
  </p>

  <%= link_to "Generate Secret Santas", new_exchange_event_path, class: "btn btn--primary" %>
</div>
