<div class="family">
  <%= link_to family.name, family_path(family) %>
  <div class="family__actions">
    <%= button_to "Delete",
                  family_path(family),
                  method: :delete,
                  class: "btn btn--light" %>
    <%= link_to "Edit",
                edit_family_path(family),
                class: "btn btn--light" %>
  </div>
</div>
