<main class="container">
  <%= link_to sanitize("&larr; Back to family"), family_path(@family) %>

  <div class="header">
    <h1>Edit Fam</h1>
  </div>

  <%= turbo_frame_tag dom_id(@family, :edit) do %>
    <%= render "form", family: @family %>
  <% end %>
</main>
