<main class="container">
  <div class="header">
    <h1>Your Fam</h1>
    <%= link_to "Add Fam",
                new_family_path,
                class: "btn btn--primary" %>
  </div>

  <%= render @families %>
</main>
