<main class="container">
  <%= link_to sanitize("&larr; Back to families"), families_path %>
  <div class="header">
    <h1>
      <%= @family.name %>
    </h1>

    <%= link_to "Add member", new_family_member_path(@family), class: "btn btn--primary" %>
  </div>

  <%= render @members, family: @family %>
</main>
