.member {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--color-white);

  gap: var(--space-xs);
  margin-bottom: var(--space-s);
  padding: var(--space-xs);
  border-radius: var(--border-radius);

  > * {
    margin-bottom: 0;
  }

  &__name {
    font-weight: bold;
  }

  &__actions {
    display: flex;
    gap: var(--space-xs);
    order: 2;
    margin-right: calc(var(--space-xs) * -1);
  }

  &--form {
    box-shadow: var(--shadow-small);

    .member__name {
      display: block;
    }
  }

  &--header {
    background-color: var(--color-light);
    margin-bottom: var(--space-s);

    @include media(tabletAndUp) {
      display: flex;
    }

    & > * {
      font-size: var(--font-size-s);
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
}
