<header class="navbar">
  <div class="navbar__link navbar__right">
    <%= link_to "Home", root_path, data: { turbo: false } %>
  </div>
  <div class="navbar__link">
    <%= link_to "My exchanges", exchange_events_path, data: { turbo: false } %>
  </div>
  <!-- <%= link_to "Sign out", new_exchange_event_path, class: "btn btn--dark navbar--right" %> -->
</header>
