<main class="container">
  <div class="header">
    <h1>Members</h1>
    <%= link_to "New member",
                new_member_path,
                class: "btn btn--primary" %>
  </div>

  <%= render @members %>
</main>
