<main class="container">
  <%= link_to sanitize("&larr; Back to members"), members_path %>

  <div class="header">
    <h1>New member</h1>
  </div>

  <%= turbo_frame_tag @member do %>
    <%= render "form", member: @member %>
  <% end %>
</main>
